# This is a bind mount unit file for systemd.
# this file gets placed into /etc/systemd/system and then reload systemd.
# due to systemd conventions the file name needs to look like this :(
#
# This addresses a bug I found with the current cinder-volume container
# when using LVM and lio iscsi helper where the iscsi target configuration
# was not being saved to a persistent volume.  Essentially if you modify/patch
# the cinder-volume container or reboot the system, your iscsi target config 
# wont persist!
#
# this is a bit of a hack to get this working, the most correct fix
# is to update the cinder-volume container image to bind mount /etc/target
# into the container.  This fix uses the current config-data path to side
# step into the container.

[Unit]
Description=/etc/target bind mount for openstack-cinder-volume-podman-0
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
After=swap.target

[Mount]
What=/etc/target
Where=/var/lib/config-data/puppet-generated/cinder/etc/target
Type=none
Options=bind

# Make 'systemctl enable tmp.mount' work:
[Install]
WantedBy=local-fs.target
